.relative {
	position: fixed;
	left: 0px;
	bottom: 0px;
}

.hotlines {
	height: 200px;
	width: 200px;
	border: 1px solid red;
	background-color: green;
	overflow: visible;
	/*position: relative;*/
}

.hotlines1 {
	position: sticky;
	top: 20px;
	height: 50px;
	width: 100px;
	background-color: yellow;
	border: 1px solid black;
	border-radius: 50px;
}

.hotlines2 {
	text-align: center;
}

@font-face {
	font-family: UVNAiCap_B;
	src: url('../fonts/UVNGiayTrang_B.TTF');
}

.font2 {
	font-family: UVNAiCap_B;
}

.font1 { 
	font-family: 'Calistoga', cursive;
}

.font3 {
	font-family: Arial, Helvetica, sans-serif;
}

.icon0 {
	display: inline-block;
	margin-left: 70px;
}

.row0 {
	float: right;
	margin-right: 70px;
}

.row1 {
	border: 1px solid #f9b737;
	border-top-left-radius: 60px; 
	background-color: #f9b737;
	padding: 8px;
	padding-right: 30px;
	border-bottom-right-radius: 60px;
}

.icon1 {
	text-align: -webkit-center;
}

.icon-row1 {
	width: 20px;
	height: 20px;
}

.title1 {
	display: inline;
	font-size: 16px;
}

.icon2 {
	display: block;
}

.icon-icon2 {
	width: 15px;
	height: 20px;
}

.title2 {
	display: inline;
	font-size: 16px;
}

.icon3 {
	display: block;
}

.title3{
	display: inline;
	font-size: 16px;
}

.phone1 {
	display: inline;
	color: white;
}

.title4 {
	color: black;
	display: inline;
}

.icon4 {
	display: inline-block;
}

.title5 {
	display: inline;
	font-size: 16px;
}

.icon5 {
	display: inline;
	float: right;
}

.title6 {
	display: inline;
	font-size: 16px;
}

.row2 {
	margin-top: 10px;
	display: block;
}

.icon6 {
	float: left;
	margin-left: 70px;
}

.icon7 {
	border: 1px solid #ec971f;
	background-color: #ec971f;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 8px;
	height: 40px;
}

.title7 {
	display: inline;
	color: white;
	font-size: 15px;
}

.icon8 {
	float: right;
	margin-right: 70px;
}

.icon9 {
	border: 1px solid #790000;
	background-color: #790000;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 8px;
	height: 40px;
}

.icon-row2 {
	width: 15px;
	height: 15px;
}

.title8 {
	display: inline;
	color: white;
	font-size: 15px;
}

a {text-decoration: none;
}

.menu0 {
	margin-left: 70px;
	margin-right: 70px;

}

ul, li {
	list-style-type: none;
}

.menu1 {
	border-top: 1px dotted gray;
}

li {
	margin-left: 20px;
}

.



.dropdown {

}

.dropbtn {

}

.dropcontent {
	position: absolute;
	background-color: yellow;
	display: none;
}

.dropdown:hover .dropcontent {
	display: block;
}











.menu2 {
	border-left: 1px dotted gray;
}

.menu3 {
	padding: 15px 15px;
	float: left;
	color: black;
}

.image3 {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: auto;
	height: auto;
}

.border0 {
	background-color: #effbe0;
	border: 1px solid #effbe0;
}

.border1 {
	background-color: white;
	border: 1px solid white;
	margin-left: 70px;
	margin-right: 70px;
	margin-top: 10px;
}

.border2 {
	border: 1px dotted #53ae17;
	height: 60px;
	width: auto;
	border-radius: 10px;
	margin: auto;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;	
}

.border2-1 {
	border: 1px solid none;
	margin: 10px;
}

.image3-1 {
	display: block;
	margin-left: 430px;
}

.icon10 {
	margin: 0px;
	font-size: 30px;
	margin-left: 480px;
	margin-top: -35px;


}

.firts-product {
	border: 1px solid white;
	margin-top: 10px;
}

.second-product {
	margin-top: 45px;
	margin-bottom: 50px;
}

.product1 {
	border: 1px dotted #53ae17;
	margin-left: 5px;
	display: inline-block;
	float: left;
}

.product2 {
	display: inline-block;
	border: 1px dotted #53ae17;
	margin-left: 47px;
	float: left;
}

.product3 {
	display: inline-block;
	border: 1px dotted #53ae17;
	margin-left: 47px;
	float: left;
}

.product4 {
	display: inline-block;
	border: 1px dotted #53ae17;
	margin-left: 47px;
	margin-right: 5px;
}

.image4 {
	width: 225px;
	height: 230px;
	padding: 10px;
}

.title9 {
	border: 1px dotted #53ae17;
	border-radius: 5px;
	text-align: center;
	width: 225px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -2px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.price {
	margin-left: 10px;
	margin-top: -15px;
}

.price1 {
	color: #ec928d;
}

.price2 {
	color: red;
}

button {
	color: white;
	border: 1px solid #f78409;
	background-color: #f78409;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.border3 {
	border: 1px solid #effbe0;
	margin-top: 10px;
	margin-left: 70px;
	margin-right: 70px;
	margin-bottom: 20px;
	background-color: #effbe0;
}

.border4 {
	display: inline-block;
}

.border5 {
	display: inline-block;
	border: 1px solid white;
	background-color: white;
	float: right;
	width: 557px;
	height: auto;
}

.icon11 {	
	margin: 0px;
	font-size: 30px;
	margin-left: 80px;
	margin-top: -35px;
}

.icon12 {	
	margin: 0px;
	font-size: 30px;
	margin-left: 130px;
	margin-top: -35px;
}

.title10 {
	font-size: 23px;
}

.border6 {
	border: 1px solid #790000;
	background-color: #790000;
	border-top-left-radius: 60px;
	border-bottom-right-radius: 70px;
	padding: 10px;
	color: white;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: -20px;
	margin-bottom: 20px;
}

.title11 {
	color: yellow;
}

.border7 {
	border: 1px solid #effbe0;
	margin-top: 10px;
	margin-left: 70px;
	margin-right: 70px;
	margin-bottom: 20px;
	background-color: #effbe0;
}

.border8 {
	border: 1px solid white;
	background-color: white;
	margin-top: 10px;
	width: 552px;
	display: inline-block;
}

.border5-1 {
	border: 1px dotted #53ae17;
	border-radius: 10px;
	width: auto;
	height: 60px;
	margin: auto;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 30px;
}

.image4-1 {
	display: block;
	margin-left: 30px;
}

.image4-2 {
	display: block;
	margin-left: 80px;
}

.border5-2 {
	border: 1px solid none;
	margin: 10px;
}

.title12 {
	padding: 10px;
	margin-top: -50px;
}

.image5 {
	margin-top: -30px;
	padding: 10px;
}

.border9 {
	border: 1px solid white;
	background-color: white;
	display: inline-block;
	float: right;
	margin-top: 10px;
}

.video1 {
	width: 533px;
	height: 430px;
	margin-left: 10px;
	margin-top: -20px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.border10 {
	border: 1px solid #f9b737;
	background-color: #f9b737;
	height: 55px;
	display: block;
	margin-right: 71px;
	margin-left: 70px;
	margin-top: 89px;
}

.title13 {
	padding-left: 20px;
	color: white;

}

.border11 {
	border: 1px solid white;
	background-color: white;
	height: 443px;
	margin-top: 10px;
	margin-right: 71px;
	margin-left: 70px;
	margin-bottom: 20px;
}

.border12 {
	border: 1px solid white;
	background-color: white;
	margin-top: 10px;
	padding: 10px;
	width: 250px;
	display: inline-block;
	float: left;
}

.border13 {
	border: 1px solid white;
	background-color: white;
	margin-top: 10px;
	margin-left: 15px;
	padding: 10px;
	width: 250px;
	display: inline;
	float: left;
}

.border14 {
	border: 1px solid white;
	background-color: white;
	margin-top: 10px;
	margin-left: 18px;
	padding: 10px;
	width: 250px;
	display: inline-block;
	float: left;
}

.border15 {
	border: 1px solid white;
	background-color: white;
	margin-top: 10px;
	margin-left: 18px;
	padding: 10px;
	width: 250px;
	display: inline-block;
}

.title14-1 {
	margin-top: 5px;
}

.title14-2 {
	color: #2c8454;
}

.title15 {
	margin-top: -20px;
}

.title16 {
	margin-top: -15px;

}

.border16 {
	border: 1px solid none;
	background-image: url(../images/footer.jpg);
	height: 480px;
}

.border17 {
	border: 1px solid none;
	width: 250px;
	margin-left: 70px;
	padding: 10px;
	color: white;
	float: left;
}

.title17 {
	border: 1px solid #f9b737;
	border-bottom: 1px solid white;
	background-color: #f9b737;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	padding-left: 20px;
	height: 35px;
	color: white;
}

.title18 {
	margin-top: 5px;
}

.title19 {
	color: white;
}

.border18 {
	border: 1px solid none;
	width: 250px;
	padding: 10px;
	margin-left: 25px;
	color: white;
	float: left;
}

.border19 {
	border: 1px solid none;
	padding: 10px;
	margin-left: 24px;
	width: 250px;
	float: left;
}

.video2 {
	width: 240px;
	height: auto;
	margin-top: 20px;
}

.border20 {
	border: 1px solid none;
	float: left;
	margin-left: 24px;
	padding: 10px;
	width: 250px;
	display: block;
}

.image6 {
	border: 1px solid none;
	width: 250px;
	margin-top: 20px;
}

.border21 {
	border: 1px solid #49a010;
	background-color: #49a010;
	height: 50px;
}

.border22 {
	padding-top: 15px;
	text-align: center;
}

.title20 {
	display: inline;
	color: white;
	margin-top: -20px;
}

.title21 {
	border: 1px solid white;
	background-color: #8dc642;
	padding: 5px;
	display: inline;
}

.title22 {
	border: 1px solid white;
	background-color: black;
	color: white;
	padding: 5px;
	display: inline;
}